/*** Main Content ***/

.jumbotron {
    background-image:    url("../images/trainBackground.png");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: bottom center;
    height: 400px; 
}

#welcomeMessage {
	padding-bottom: 50px;
}

.clock {
	display: inline-block;
}

.cancelButton {
	margin-left: 4px;
}






