/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– 

* {
	box-sizing: border-box;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– 
body {
	font-size: 16px; 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 2em;
	color: #777; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
	color: #4aaaa5;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

footer {
	font-size: .65em;
	color: #BEBEC0;
}

a {
	color: #777; 
}

.button {
	font-size: .8em;
}

/* Colors
––––––––––––––––––––––––––––––––––––––––––––––––––

   * Teal color (used for headings and backgrounds): #4aaaa5
   * Regular font color (used for paragraphs and all text besides the headings): #777
   * Link (hover): #4aaaa5
   * Main header background color: #fff
   * Main header border color: #ccc
   * Footer background color: #666
   * Footer font color: #BEBEC0
   * Main content background color: #fff
   * Main content border color: #ddd
   * HR color: #BEBEC0
   * Form input borders: #D1D1D1
   * Form input borders (focused): #4aaaa5
   * Button: #4aaaa5
   * Button (hover): ##3c8c88

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– 

.clearfix {
  content: "";
  display: block;
  clear: both; 
}

/* Custom Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– 

/*** Header 

header {
	height: 75px;
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	overflow: hidden;
}

.logo {
	background-color: #4aaaa5;
	padding: 23px;
	float: left;
}

.logo h1 {
	color: #fff;
}

nav ul {
	list-style: none;
	margin-top: 12px;
	padding: 0;
	float: right;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	line-height: 12px;
	text-decoration: none;
	text-align: center;
	border-right: 1px solid #777;
	margin-top: 20px;
	padding: 0 10px;
}

nav li a:hover {
	color: #4aaaa5;
}

nav li:last-child a {
	border-right: 0;
}

/*** Main Content 

body {
	background: url("../images/ep_naturalwhite.png");
}

***/





